* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    /* font-size: calc(100vw / 1920 * 10);

    @media(max-width: 1024px) {
        font-size: calc(100vw / 767 * 10);
    }

    @media(max-width: 992px) {
        font-size: calc(100vw / 767 * 10);
    }

    @media(max-width: 767px) {
        font-size: calc(100vw / 575 * 10);
    }

    @media(max-width: 575px) {
        font-size: calc(100vw / 375 * 10);
    }
    @media(max-width: 375px) {
        font-size: calc(100vw / 320 * 10);
    } */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    //font-family: , sans-serif;
    font-style: normal;
    font-weight: 400;
    //color: #333333;
    /* &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
    } */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl,
dd,
dt {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

select,
button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

input,
textarea {
    cursor: default;
}

textarea {
    resize: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

figure,
figcaption {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}